---
Checks: >-
    *,

    # identifier style rules are not currently set,
    -readability-identifier-naming,

    # fix this later,
    -altera-id-dependent-backward-branch,

    # don't warn about type trait alignment,
    -altera-struct-pack-align,

    # allow default args,
    -fuchsia-default-arguments-*,

    # allow C++,
    -fuchsia-multiple-inheritance,
    -fuchsia-overloaded-operator,
    -fuchsia-trailing-return,
    -fuchsia-virtual-inheritance,

    # treat iterators as types, not pointers,
    -readability-qualified-auto,

    # allow pragma once,
    -llvm-header-guard,

    # clang-format sorts headers,
    -llvm-include-order,

    # abseil not used,
    -abseil-*,

    # no pragma loop unrolling,
    -altera-unroll-loops,

    # cloexec functions not used,
    -android-cloexec-*,

    # TEMP_FAILURE_RETRY macro not used,
    -android-comparison-in-temp-failure-retry,

    # gsl not used,
    -cppcoreguidelines-owning-memory,

    # boost not used,
    -boost-use-to-string,

    # googletest not used,
    -google-readability-avoid-underscore-in-googletest-name,
    -google-upgrade-googletest-case,

    # not applicable,
    -darwin-*,
    -google-objc-*,
    -llvm-prefer-isa-or-dyn-cast-in-conditionals,
    -llvm-prefer-register-over-unsigned,
    -llvm-twine-local,
    -llvmlibc-callee-namespace,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -mpi-*,
    -openmp-*,

    # disable aliases,
    -cert-con36-c,
    -cert-con54-cpp,
    -cert-dcl03-c,
    -cert-dcl16-c,
    -cert-dcl37-c,
    -cert-dcl51-cpp,
    -cert-dcl54-cpp,
    -cert-dcl59-cpp,
    -cert-err09-cpp,
    -cert-err61-cpp,
    -cert-fio38-c,
    -cert-msc30-c,
    -cert-msc32-c,
    -cert-oop11-cpp,
    -cert-oop54-cpp,
    -cert-pos44-c,
    -cert-pos47-c,
    -cert-sig30-c,
    -cert-str34-c,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-c-copy-assignment-signature,
    -cppcoreguidelines-explicit-virtual-functions,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -fuchsia-header-anon-namespaces,
    -google-readability-braces-around-statements,
    -google-readability-function-size,
    -google-readability-namespace-comments,
    -hicpp-avoid-c-arrays,
    -hicpp-braces-around-statements,
    -hicpp-deprecated-headers,
    -hicpp-explicit-conversions,
    -hicpp-function-size,
    -hicpp-invalid-access-moved,
    -hicpp-member-init,
    -hicpp-move-const-arg,
    -hicpp-named-parameter,
    -hicpp-new-delete-operators,
    -hicpp-no-array-decay,
    -hicpp-no-malloc,
    -hicpp-noexcept-move,
    -hicpp-special-member-functions,
    -hicpp-static-assert,
    -hicpp-undelegated-constructor,
    -hicpp-uppercase-literal-suffix,
    -hicpp-use-auto,
    -hicpp-use-emplace,
    -hicpp-use-equals-default,
    -hicpp-use-equals-delete,
    -hicpp-use-noexcept,
    -hicpp-use-nullptr,
    -hicpp-use-override,
    -hicpp-vararg,
    -llvm-else-after-return,
    -llvm-qualified-auto,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*/spline/include'
UseColor: true
...
